<a href="https://colab.research.google.com/github/Zabaluna/Probability-theory-and-statistics/blob/main/%D0%94%D0%B7%D0%A2%D0%B5%D1%80%D0%92%D0%B5%D1%8010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Урок 10. Дисперсионный анализ

In [2]:
from math import *
from sympy import *
from sympy.plotting import plot
import numpy as np
import pandas as pd
from scipy import *
from matplotlib import *
from matplotlib import pyplot as plt
from sklearn import *
import scipy.stats as stats

# Задача 1
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
 
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

H0: $\mu_f$ = $\mu_h$ = $\mu_w$

Н1: ${\mu_f}\neq\mu_h\neq\mu_w\$

 $\alpha$ = 0,05

 По формуле Крускала-Уоллиса нулевая гипотеза отвергается, тк p-val < $\alpha$

In [14]:
foot = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hoсk = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
weight = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [15]:
stats.shapiro(foot)

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)

In [16]:
stats.shapiro(hoсk)

ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)

In [17]:
stats.shapiro(weight)

ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)

In [19]:
stats.bartlett(foot,hoсk,weight)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

In [20]:
stats.f_oneway(foot,hoсk,weight)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

In [21]:
stats.kruskal(foot,hoсk,weight)

KruskalResult(statistic=7.897493213863828, pvalue=0.01927885061595347)

In [3]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

data = pd.DataFrame({'group': ['foot']*8 + ['hoсk']*9 + ['weight']*11,
                     'height': [173, 175, 180, 178, 177, 185, 183, 182,
                                177, 179, 180, 188, 177, 172, 171, 184, 180,
                                172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]})
data

     group  height
0     foot     173
1     foot     175
2     foot     180
3     foot     178
4     foot     177
5     foot     185
6     foot     183
7     foot     182
8     hoсk     177
9     hoсk     179
10    hoсk     180
11    hoсk     188
12    hoсk     177
13    hoсk     172
14    hoсk     171
15    hoсk     184
16    hoсk     180
17  weight     172
18  weight     173
19  weight     169
20  weight     177
21  weight     166
22  weight     180
23  weight     178
24  weight     177
25  weight     172
26  weight     166
27  weight     170

In [4]:
tukey = pairwise_tukeyhsd(data["height"], data["group"], alpha = 0.05)
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
  foot   hoсk  -0.4583  0.979  -6.2732  5.3566  False
  foot weight  -6.3977 0.0219 -11.9583 -0.8372   True
  hoсk weight  -5.9394 0.0284 -11.3181 -0.5607   True
-----------------------------------------------------